body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#app {
    height: 100%;
}

#canvasDiv {
    height: 100%;
}

#leCanvas {
    border: 3px solid black;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}

.modalInputComponentBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.modalInputComponentBody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 45%;
    height: 45%;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: #75B9BE;
    padding: 2.5%;
    border-radius: 10px;
}

.modalInputComponentInput {
    width: calc(100% - 10px);
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.modalInputComponentCancel {
    width: 20%;
    height: 40px;
    border: 3px solid black;
    border-radius: 3px;
    padding: 5px;
    margin-top: 20px;
}

.modalInputComponentCancel:hover {
    background-color: #ddd;
}